<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Frequently Asked Questions</h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>Why are we buying a vaporizer for Roberto?</summary>
          <p>Because its really awesome. The Pax is supposed to be the Apple of vaporizers. </p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>What infrastructure is used for payments?</summary>
          <p>I decided to use Amazon, because it takes the least amount of royalty among the competition</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>When and how will we give the gift to Roberto?</summary>
          <p>Deniz is in Roberto's CS247 group. He will schedule a meeting that meets the availability of all of the backers, and during the meeting, we will all suprise Roberto with his present. Deniz will also collect giftcards from each backer (where each backer will write a personal message to Roberto) to include in the gift. </p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Why 40 dollars?</summary>
          <p> Most of the people who contacted Deniz told that was the amount they would want to chip in.
          </p>
        </details>
      </li>
    </ul>
    <ul class='col2'>
      <li>
        <details class=''>
          <summary>Why did we have to collect money through a Kickstarter-copycat website?</summary>
          <p> First of all, because it is awesome! Also because it is easier to collect money through the web, and collecting money in real life is a pain.</p>
        </details>
      </li>
    </ul>
  </div>
</div>
