<div class="wrapper center">
  <div class="gray_background">
  <div class="wrapper center"><div class="gray_background">
  <div class="wrapper center">
  <h2>We are buying a Pax Ploom for Roberto's birthday, chip in on this website!</h2>
</div>
  <div class="wrapper clearfix">
  <div id="video">
      <div id="video_image" style="display: none;">
        <img alt="video_place_holder" width="512px" height="385px" src="/assets/video_placeholder.png">
      </div>
      <div id="player" class="" style="display: block;">
        <object width="512" height="385">
          <param name="movie" value="http://www.youtube.com/embed/HJnRG9xMfZ8?autohide=1&amp;showinfo=0&amp;rel=0&amp;autoplay=1">
          <param name="allowFullScreen" value="true">
          <param name="allowscriptaccess" value="always">
          <embed src="http://www.youtube.com/embed/HJnRG9xMfZ8?autohide=1&amp;showinfo=0&amp;rel=0&amp;autoplay=1" type="application/x-shockwave-flash" width="512" height="385" allowscriptaccess="always" allowfullscreen="true">
        </object>
      </div>
  </div>

  <div id="backing">
    <ul>
      <li class="stats" id="backers">
        0
        <span>backers</span>
      </li>
      <li class="stats">
        $0
        <span>of $240</span>
      </li>

        <li class="stats" id="days">
          5
          <span> days left</span>
        </li>
    </ul>
    
      <div id="progress_bg" class="small">
        <div id="progress" class="" style="width: 0.0%;">
        </div>
      </div>
    
    <div id="reserve_container">
      <p id="ship_date">Deniz already ordered the Pax Ploom online. When it arrives this week, Deniz will notify every backer and we will give Roberto the gift together!</p>
      <a href="/preorder/checkout" class="blue_button reserve">Chip in Now</a>
      <p id="price">$40</p>
      <p>Deniz already ordered the Ploom. The total cost including shipping was 290 dollars. Chip in to be a part of the best birthday present Roberto ever had!</p>
      <div class="fb-like" data-send="false" data-width="70" data-layout="box_count" data-show-faces="true"></div>
    </div>
    
  </div>
  
</div>
</div><h2>We are buying a Pax Ploom for Roberto's birthday, chip in on this website!</h2>
</div>
  <div class="wrapper clearfix">
  <div id="video">
      <div id="video_image">
        <img alt="video_place_holder" width="512px" height="385px" src="/assets/video_placeholder.png">
      </div>
      <div id="player" class="hidden" style="display: none;">
        <object width="512" height="385">
          <param name="movie" value="http://www.youtube.com/embed/HJnRG9xMfZ8?autohide=1&amp;showinfo=0&amp;rel=0&amp;autoplay=1">
          <param name="allowFullScreen" value="true">
          <param name="allowscriptaccess" value="always">
          <embed src="http://www.youtube.com/embed/HJnRG9xMfZ8?autohide=1&amp;showinfo=0&amp;rel=0&amp;autoplay=1" type="application/x-shockwave-flash" width="512" height="385" allowscriptaccess="always" allowfullscreen="true">
        </object>
      </div>
  </div>

  <div id="backing">
    <ul>
      <li class="stats" id="backers">
        0
        <span>backers</span>
      </li>
      <li class="stats">
        $0
        <span>of $240</span>
      </li>

        <li class="stats" id="days">
          5
          <span> days left</span>
        </li>
    </ul>
    
      <div id="progress_bg" class="small">
        <div id="progress" class="" style="width: 0.0%;">
        </div>
      </div>
    
    <div id="reserve_container">
      <p id="ship_date">Deniz already ordered the Pax Ploom online. When it arrives this week, Deniz will notify every backer and we will give Roberto the gift together!</p>
      <a href="/preorder/checkout" class="blue_button reserve">Chip in Now</a>
      <p id="price">$40</p>
      <p>Deniz already ordered the Ploom. The total cost including shipping was 290 dollars. Chip in to be a part of the best birthday present Roberto ever had!</p>
      <div class="fb-like" data-send="false" data-width="70" data-layout="box_count" data-show-faces="true"></div>
    </div>
    
  </div>
  
</div>
</div>
</div>